header{
    width: 1519px;
    height: 140px;
    background-color: rgb(19, 19, 28);
    display: block;
    margin-top: -48px;
}


.company-name{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    vertical-align: bottom;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}